*
{
    margin-top: 0px;
}

body 
{
    background-color:white; 
    font-family: Arial, Sans-Serif;
    margin: 0px auto;
    max-width: 900px; 
    border:solid 4px green;
}

header
{
    display:block;
    background-color:darkgreen;
    color:White; 
    text-align:center;
}

h3
{
    color: darkgreen; 
    text-align:center;
}

h4
{
    color: darkgreen; 
    background-color:white;
    transform: rotate(-45deg);
    text-align:left;
    padding-left:35px;
    position:relative;
    left:-138px;
    top:-316px;
}

nav
{
    width:25%;
    float:left;
}

nav a:link, nav a:visited
{
    display:block; 
    font-weight:bold;
    padding:10px;
    text-decoration:none;
    margin:5px;
    color: darkgreen;
}

nav a:hover
{
    color: White;
    background-color:darkgreen;
}

section
{
    display:block; 
    width: 50%; 
    float:left;
}

article header
{
    border-radius:10px; 
    border-radius: 10px;
    padding:5px;
}

article p
{
    margin:10px;
}

aside
{
    float:left; 
    width:25%;
}

aside p
{
    margin:15px;
    text-align: center;
}

footer 
{
    clear: both; 
    color: white; 
    background-color: darkgreen;
    text-align: center;
    padding: 15px;
}
